* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

p {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.header button {
    position: absolute;
    right: 28%;
    margin-top: -30px;
}
.header {
    font-size: 22px;
} 

.to-do {
    margin-top: 40px;
    width: 60%;
}

.textInsert {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}

.divInsert {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 5px 10px 0px gray;
}

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.bx-plus {
    font-size: 30px;
    margin-left: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.divLi span {
    width: 80%;
    color: dimgray;
}

.divLi input {
    width: 10%;
    outline: none;
    accent-color: currentcolor;
}

.divLi i {
    font-size: 22px;
    color: brown;
}

li {
    list-style-type: none;
}

.line-trough {
    text-decoration: line-through;
}


@media (max-width: 775px) {
    input {
        width: 70%;
    }

    .divInsert button {
        width: 30%;
    }
    
    i {
        font-size: 30px;
        padding: 0px;
    }

    p {
        font-size: x-large;
    }
}


